body{
    font-family: "Lato";
    background: #FFF;
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar {
    padding: 10px 0;
    margin: 0;
}
.navbar .divider-vertical {
    height: 30px;
    margin: 10px;
    border-right: 1px solid darkgrey;
}
.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}
.navbar-custom {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.navbar-custom li.daftar a {
    font-weight: 700;
    color: red;
}
.navbar-brand {
    padding: 8px 15px;
}


@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}



/* ========================= */
/* ALIGN */
/* ========================= */

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

/* ========================= */
/* BUTTON */
/* ========================= */

.btn-color.btn-custom {
    background: #e74c3c;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}
.btn-color.btn-custom:hover {
    background: #ec7063;
    color: white;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
}
.btn-tag.btn-outline {
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .7em;
    color: grey;
    border: 1px solid lightgrey;
}
.btn-tag.btn-outline-2 {
    background: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #EE4238;
    border: 2px solid white;
    padding: 6px 40px;
}
.btn-tag.btn-outline-2:hover {
    background: none;
    color: white;
}
.btn-search {
    margin-top: 20px;
    background: #e74c3c;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    padding: 10px 50px;
    text-transform: uppercase;
    color: white;
    border-radius: 8px;
}
.btn-search:hover {
    background: #ec7063;
    color: white;
}
/* ========================= */
/* PARAGRAF */
/* ========================= */

p.harga {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: deepskyblue;
}
p.tempat {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}
p.deskripsi {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.6;
    letter-spacing: 1px;
    color: grey;
}
p.hero {
    font-family: "Open Sans";
    font-weight: 700;
    letter-spacing: 1px;
}
p.slider-label{
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* ========================= */
/* HEADERS */
/* ========================= */

h4.title {
    font-family: 'Lato', sans-serif;
    color: deepskyblue;
}
h4.title2 {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    color: grey;
}
h4.title3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    color: darkslategrey;
}
h4.link {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    color: #EE4238;
}


/* ========================= */
/* OTHERS */
/* ========================= */

small {
    font-weight: 300;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

a.seemore {
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    color: #EE4238;
    font-size: 14px;
}

.disc-banner {
    position: absolute;
    top: 8%;
    left: 0;
    padding: 10px 30px;
    background-color: #E74C3C;
    opacity: .85;
    color: white;
    font-family: 'Lato';
    font-weight: 300;
    #font-size: 1.5em;
    #line-height: 26px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.star-banner {
    position: absolute;
    top: 8%;
    right: 0;
    padding: 10px 15px;
    background-color: #E74C3C;
    opacity: .85;
    color: white;
    font-size: 1.5em;
    line-height: 26px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.col-centered {
    display: inline-block;
    float: none;
    margin: 0 auto;
}

.row-centered {
    text-align: center;
}

.slider-selection {
	background: deepskyblue;
}

.slider.slider-horizontal {
    width: 100%;
}

.rotate180 {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
}

/* ========================= */
/* MODAL SEARCH */
/* ========================= */

.modal-dialog {
  max-width: 400px;
  #height: 100%;
  margin: 20px auto;
}

.modal-content {
  #height: 100%;
  border-radius: 10;
}

/* Tablet Only */
@media (max-width: 992px) and (min-width: 768px) {
    .modal-dialog {
        max-width: 100%;
        #height: 100%;
        margin: 20px auto;
    }
}

/* ========================= */
/* DETAILS PAGE */
/* ========================= */

.detail {
    margin-top: 90px;
}

.detail-description {
    letter-spacing: 0.5px;
}

.detail-description p {
    font-size: 14px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 1.75;
}

.detail-sidebar {
    border: 1px solid lightgrey;
    padding: 30px;
}


.detail-sidebar2 {
    border: 1px solid lightgrey;
    padding: 30px;
}

.detail-sidebar .input-group-addon {
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #777777;
    text-align: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-right: none;
    border-radius: 4px;
}

.detail-sidebar2 .input-group-addon {
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #777777;
    text-align: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-right: none;
    border-radius: 4px;
}

.detail-sidebar .form-control  {
    display: block;
    width: 100%;
    padding: 6px 18px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 1.42857143;
    color: #777777;
    background-image: none;
    border: 1px solid #eeeeee;
    #border-left: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.detail-sidebar2 .form-control  {
    display: block;
    width: 100%;
    padding: 6px 18px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    line-height: 1.42857143;
    color: #777777;
    background-image: none;
    border: 1px solid #eeeeee;
    #border-left: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


@media (max-width: 992px) {
    .detail-sidebar {
        margin-top: 50px;
    }
}




.detail-sidebar .form-control:not(textarea) {
    height: 42px;
}

.detail-sidebar .control-label {
    color: #777777;
    font-size: 16px;
}

.detail-price {
    text-align: center;
}

.detail-price .label {
    text-transform: uppercase;
    color: #777777;
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.detail-price .currency {
    font-weight: 700;
}

.detail-price .price {
    font-size: 26px;
    font-weight: 700;
}



.btn-booking {
    margin-top: 20px;
    background: #e74c3c;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 50px 10px 50px;
    text-transform: uppercase;
    color: white;
}

/* Amenities */
.amenities {
    font-size: 14px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 2.2;
}

.amenities > img {
    margin-right: 5px;
}

.amenitiesall {
    margin-top: 25px;
}

.amenitiesall > span > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #e74c3c;
    cursor: pointer;
}

.floating-sidebar { 
position: absolute;
}


.info {
    margin-top: 20px;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;

}

.buttonmobiledetail {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.btn-floating {
    width: 100%;
    display: inline-block;
    background: #e74c3c;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 50px 15px 50px;
    text-transform: uppercase;
    color: white;
}

.btn-floating:hover {
    color: #fff;
    text-decoration: none;
}


/* ========================= */
/* FRONT PAGE HERO BACKGROUND*/
/* ========================= */

.hero-bg {
    background: url('../img/hero-static.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bg-screen {
        width: 100%;
        height: 100vh;
        min-height: 500px;
    }


/* ========================= */
/* MEDIA QUERY               */
/* ========================= */

/* Tablet & Desktop */
@media (min-width: 768px) {
    .lihat-down{
        display: none;
    }
    p.hero {
        margin-top: 150px;
        font-size: 3em;
        letter-spacing: 1px;
        line-height: 65px;
    }
    .bg-screen {
        padding-top: 50px;
    }
    .disc-banner {
        font-size: 1.5em;
        line-height: 26px;
    }
    .start-banner {
        font-size: 1.5em;
        line-height: 26px;
    }
}

/* Mobile Phone Only */
@media (max-width: 768px) {
    .lihat-up{
        display: none;
    }
    .hero{
        text-align: center;
        font-size: 1.8em;
    }
    .disc-banner {
        font-size: 1.3em;
        line-height: 26px;
    }
    .star-banner {
        font-size: 1.3em;
        line-height: 26px;
    }
}

/* Desktop Only */
@media (max-width: 992px) {
    .front-sidebar{
        display: none;
    }  
}

@media (min-width: 992px) {
    .search-bar{
        display: none;
    }
    .followus {
        text-align: right;
    }

    .socialicon {
        float: right;
    }
}

/* Tablet & Phone */
@media (max-width: 992px) {
    .hero-bg {
        flex-direction: column;
    }
    .search-bar {
        padding: 25px;
    }
    footer {
        text-align: center;
    }
}

/* Tablet Only */
@media (max-width: 992px) and (min-width: 768px) {
    .hero{
        text-align: center;
    }
}


/* ========================= */
/* FRONT PAGE SIDEBAR */
/* ========================= */

.front-sidebar {
    border: 1px solid lightgrey;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    width: 400px;
}

.input-group-addon {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #777777;
    text-align: center;
    background: none;
    border: 1px solid lightgrey;
    border-right: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 4px 12px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #333;
    background: none;
    border: 1px solid lightgrey;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#date {
    border-left: none;
    padding: 0;
}

.control-label {
    font-family: "Open Sans", sans-serif;
    color: #777;
    font-size: 1.1em;
    line-height: 22px;
    font-weight: 400;
}

.front-sidebar .form-group {
    padding: 0 15px;
}


/* ========================= */
/* CAROUSEL */
/* ========================= */

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

/*
.carousel-control {
    justify-content: center;
}*/



/* ========================= */
/* COLORS */
/* ========================= */

.text-gray {
    color: lightgrey;
}


/* ========================= */
/* PLACES */
/* ========================= */
.place-thumb {
    border: 1px solid lightgrey;
    position: relative;
}

.place-thumb > img {
    max-width: 100%;
    padding: 0;
}

.place-thumb > .placethumb-detail {
    padding: 15px;
}

.place-thumb > .placethumb-tag {
    padding: 10px 0;
}

@media (max-width: 992px) {
    .place-thumb {
    margin-bottom: 15px;
    }
}


.place-tag {
    margin-left:10px;
}

/* ========================= */
/* FOOTER */
/* ========================= */

footer {
    background-color: #E74C3C;
}

footer p {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em; 
     font-weight: 300; 
     color: white;
}

footer h1 {
     font-family: 'Open Sans', sans-serif;
     font-size: 1.7em; 
     font-weight: 300; 
     color: white;
}

footer > .menu {
    padding: 15px 0;
}

footer > .registernow {
    padding: 15px 0;
}

.footer-nav {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    margin-right: 30px;
}


/* Social Media */
.socialmedia {
    #padding: 10px 0;
    #display: flex;
    #align-items: center;
    #justify-content: center;
}

.followus {

    #display: block;
    #line-height:50px;
    #float: right;
    #text-align: right;
    color: white;
}

.socialicon {
    margin: 0 15px;
    display: inline-block;
    #float: right;
}

.socialicon > i {
    line-height: 30px;
}

.startuplogo, .socmed > i {
    line-height: 50px;
}

.startuplogo img {
    max-height: 27px;
}

a .social{
    color: white;
}   
#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    #color: #4099FF;
    color: #3B5998;
}
#social-gp:hover {
    #color: #d34836;
    color: #3B5998;
}
#social-em:hover {
    #color: #f39c12;
    color: #3B5998;
}

.socialicon a:hover {
    text-decoration: none;
}


/* ========================= */
/* MAP OVERLAY */
/* ========================= */

.map-overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}