body{
    background: #FFF;
}

.navbar {
    padding: 10px 0;
    margin: 0;
}
.navbar .divider-vertical {
    height: 30px;
    margin: 10px;
    border-right: 1px solid darkgrey;
}
.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}
.navbar-custom {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.navbar-custom .daftar{
    font-weight: 700;
    color: red;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

.btn-color.btn-custom {
    background: #e74c3c;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}
.btn-color.btn-custom:hover {
    background: #ec7063;
    color: white;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
}
.btn-tag.btn-outline {
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .7em;
    color: grey;
    border: 1px solid lightgrey;
}

p.harga {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: deepskyblue;
}
p.tempat {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}
p.deskripsi {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8em;
    line-height: 1.6;
    letter-spacing: 1px;
    color: grey;
}
small {
    font-weight: 300;
}

h4.title {
    font-family: 'Lato', sans-serif;
    color: deepskyblue;
}
h4.title2 {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: grey;
}
h4.link {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    color: #EE4238;
}